.nav-link {
    text-decoration: none;
    color: #fff !important;
}

/* .edit{
    background-color: black!important;
    color: #fff;
 }

 .trash{
    background-color: black!important;
    color: #fff;
 } */

